<mat-card>
  <mat-toolbar color="primary"> Produtos </mat-toolbar>

  <div *ngIf="produtos$ | async as produtos; else loading">
    <table mat-table [dataSource]="produtos" class="mat-elevation-z8">

      <!-- Position Nome -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let produtos"> {{produtos.nome}} </td>
      </ng-container>

      <!-- Name Categoria -->
      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef> Categoria </th>
        <td mat-cell *matCellDef="let produtos"> {{produtos.categoria}}
          <mat-icon aria-hidden="false" aria-label="Example home icon">{{produtos.categoria | categoria}}</mat-icon>
        </td>
      </ng-container>

      <!-- Weight preço -->
      <ng-container matColumnDef="preco">
        <th mat-header-cell *matHeaderCellDef> Preço </th>
        <td mat-cell *matCellDef="let produtos">R$ {{produtos.preco}},00</td>

      </ng-container>

      <!-- Column acoes -->
      <ng-container matColumnDef="acoes">
        <mat-header-cell *matHeaderCellDef>
          <button mat-mini-fab color="accent" aria-label="Adicionar um produto">
            <mat-icon (click)="onAdd()">add</mat-icon>
          </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let produto">
          <button mat-icon-button color="primary" aria-label="Editar um produto">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" aria-label="Remover um produto">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</mat-card>
